
.bg-adminprofile{
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-adminprofile-card{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 70vh;
    margin-left: 130px;
    width: max-content;
    border-radius: 15px;
    padding: 0 20px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}